h1,
h2,
h3,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

:root {
  --color-gray: #757575;
  --color: #212121;
  --accent-color: #2196f3;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --background-color: #ffffff;
  --second-background-color: #f5f4fa;
  --third-background-color: #2f303a;
  --main-font-family: "Roboto";
  --second-font-family: "Raleway";
}

body {
  color: var(--color);
  background-color: var(--background-color);
  font-family: var(--main-font-family);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  width: 1170px;
  margin: 0 auto;
  border: 1px solid tomato;
}
/* Header */

.header {
  /* padding: 32px; */
  background-color: var(--background-color);
  border: 1px solid #ececec;
}

/* .header-content {
  max-width: 1170px;
  margin: 0 auto;

} */

.main-nav {
  display: flex;
  align-items: center;
}

.header-nav {
  /* display: inline; */
}

.main-logo-blue {
  color: var(--accent-color);
  font-family: var(--second-font-family);
}

.main-logo {
  margin-right: 120px;
  color: var(--color);
  font-family: var(--second-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 2.21;
  letter-spacing: 0.03em;
}

.main-logo,
.header-list-item a,
.contact-link-item {
  line-height: 1.5;
}

.header-list {
  list-style: none;
  display: flex;
}

.header-list-item:not(:last-child) {
  margin-right: 50px;
}

.header-item {
  font-family: var(--main-font-family);
  color: var(--color);
  background-color: var(--background-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.header-item:hover,
.header-item:focus {
  color: var(--accent-color);
}

.header-item-active {
  color: var(--accent-color);
}

.contact-link {
  display: block;
  margin-left: auto;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contact-link-item:not(:first-child) {
  margin-left: 50px;
}

.contact-link-item {
  font-family: var(--main-font-family);
  color: var(--color-gray);
  background-color: var(--background-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.contact-link-item:hover,
.contact-link-item:focus {
  color: var(--accent-color);
}

/* Эффективные решения вашего бизнеса */
.section-title {
  text-align: center;
  font-family: var(--main-font-familyt);
  color: var(--color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

/* Main */

.main-top {
  padding: 200px 450px;
  background-color: var(--third-background-color);
  text-align: center; /* center text and all inline element inside this block*/
}

.main-title {
  max-width: 695px;
  margin: 0 auto 30px;
  font-family: var(--main-font-family);
  color: var(--background-color);

  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.main-top-button {
  cursor: pointer;
  font-family: var(--main-font-family);
  color: var(--background-color);
  background: var(--accent-color);

  padding: 10px 30px;
  border-radius: 4px;
  border: none;
}
.main-top-button-name {
  font-family: var(--main-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

/* Features */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features {
  padding-top: 95px;
  margin: 0 auto;
}

.features-list {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.features-list-item {
  vertical-align: top;
  width: 270px;
}

.features-list-item:not(:last-child) {
  margin-right: 30px;
}

.features-name {
  font-family: var(--main-font-family);
  color: var(--color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  padding-bottom: 10px;
}

.features-name-about {
  font-family: var(--main-font-family);
  color: var(--color-gray);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
/* Services Чем мы занимаемся */

.services {
  padding: 95px 215px;
}

.services-list {
  text-align: center;
  list-style: none;
  display: flex;
}
.services-list-item:not(:last-child) {
  margin-right: 30px;
}

.team {
  background: var(--second-background-color);
  padding: 95px 30px;
}

.team-title {
  padding-top: 95px;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list {
  display: flex;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}

.team-list-item {
  text-align: center;
  font-family: var(--main-font-family);
  color: var(--color);
  background-color: var(--background-color);

  max-width: 270px;
  box-shadow: var(--color-gray);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 30px;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}
.team-list-item-img {
  margin-bottom: 30px;
}

.teammate-name {
  font-family: var(--main-font-family);
  color: var(--color);

  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;

  margin-bottom: 10px;
}
.position {
  font-family: var(--main-font-family);
  color: var(--color-gray);

  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
}

/* Portfolio */

.features-portfolio {
  padding-top: 94px;
}

.features-portfolio-button-list {
  width: 100%;
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 50px;
}

.button-portfolio {
  cursor: pointer;
  border: none;
  font-family: var(--main-font-family);
  color: var(--color);

  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--color);
  background-color: var(--second-background-color);
  border-radius: 4px;

  padding: 6px 22px;
}

.portfolio-button-list-item:not(:last-child) {
  margin-right: 8px;
}

.button-portfolio:hover {
  font-family: var(--main-font-family);
  color: var(--background-color);
  background-color: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
}

.button-portfolio:focus {
  color: var(--background-color);
  background-color: var(--accent-color);
}

.button-portfolio-name {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Features Portfolio */

.features-portfolio {
}

.features-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-bottom: 64px;
}

.features-portfolio-list-item {
  text-align: center;
  display: inline-block;
  border: 1px solid #eeeeee;

  margin-right: 26px;
  margin-bottom: 30px;
}
.features-portfolio-list-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-list-item-img {
  margin-bottom: 30px;
}

.portfolio-item-name {
  font-family: var(--main-font-family);
  color: var(--color);
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-item-about {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--color-gray);
}
/* Footer */

.footer {
  padding: 60px 0 60px 215px;
  background: var(--third-background-color);
}

.main-logo-footer {
  font-family: var(--second-font-family);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--background-color);
}

.footer-list {
  list-style-type: none;
  display: inline;
}

.address {
  font-family: var(--main-font-family);
  font-style: normal; /* перекрити italic */
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--background-color);
}

.address:hover,
.address:focus {
  color: var(--accent-color);
}

.contact-mail-footer {
  font-family: var(--main-font-family);
  font-style: normal;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--footer-contact-color);
}

.contact-tel-footer {
  font-family: var(--main-font-family);
  font-style: normal;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--footer-contact-color);
}

.contact-mail-footer:hover {
  color: var(--accent-color);
}

.contact-tel-footer:hover {
  color: var(--accent-color);
}
